* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Overpass", Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #141519;
    height: 100vh;
}

.ratingCard {
    background-color: #1f2630;
    width: 400px;
    max-width: 90%;
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}


button:hover {
    cursor: pointer;
}

.iconContainer{
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-color: #262f3a;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.ratingTitle {
    color: white;
    font-size: 1.5rem;
    margin-right: 10rem;
}

.ratingDescription {
    margin-top: 30px;
    width: 95%;
    line-height: 24px;
    color: #89919c;
    margin-bottom: 20px;
}



.ratingButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    gap: 20px;
}

.ratingButton {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    color: #89919c;
    background-color: #282f39;
    border: none;
    font-weight: bold;
    transition: 0.3s;
}

.ratingButton:hover {
    background-color: #fc7613;
    color: black;
}

.ratingButton.active {
    background-color: white;
    color: black;
}

.submitContainer {
    margin-top: 20px;

}

.submitButton:hover {
    background-color: white;
}


.thankYouImage {
    position: absolute;
    width: 150px;
    top: 175px;
    display: none;
}

.selectedRating {
    padding: 10px;
    background-color: #373f4b;
    color: #fc7612;
    border-radius: 10px;
    width:200px;
    text-align: center;
    display: none;
    margin-top: 9rem;
}

.thankYouTitle {
    text-align: center;
    color: white;
    font-size: 2rem;
    margin-top: 30px;
    display: none;
}

.thankYouMessage {
    text-align: center;
    color: #a5a6a7;
    line-height: 30px;
    display: none;
    width: 99%;
    text-align: center;
    margin-top: 20px;
}

.extraContainer {
    display: none;
}


.submitButton {
    background-color: #fc7612;
    width: 20rem;
    padding: 12px;
    border-radius: 20px;
    border: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    transition: 0.3s;

}


@media (min-width: 885px) and (max-width: 1270px) {

.ratingCard{
    height: 490px;
    padding:20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

}


.iconContainer{
    margin-top: -10px;
    margin-bottom: 0px;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-color: #262f3a;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}


.ratingTitle {
    margin-top: 20px;
    margin-bottom: 5rem;
    width: 100vw;
    margin-left: 45rem;
}

.ratingDescription {
    margin-bottom: 30px;
    margin-top: 10px;
    width: 100%;
    margin-left: 90px;
}

.ratingButtons {
    margin: 20px 0;
    margin-top: 50px;
}

.thankYouImage {
    top: 10rem;
}

.selectecdRating {
    top: 19rem;
}

.thankYouTitle {
    top: 22rem;

}

.thankYouMessage {
    top: 28rem;
    width: 30%;
    padding-left: 20px;

}

.submitButton {
    padding: 12px;
    margin-bottom: -70px;
}


}


@media (min-width: 601px) and (max-width: 884px) {

 .thankYouImage {
    top: 22rem;
}
   
.ratingCard{
    height: 490px;
    padding:20px
}

.ratingTitle {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 10rem;
    width: 100%;
}

.ratingDescription {
    margin-bottom: 30px;
    margin-top: 30px;
}

.ratingButtons {
    margin: 20px 0;
    margin-top: 5px;

}

.thankYouMessage {
    width: 90%;
}


.selectecdRating {
position: absolute;
 right: 56px;
}

.submitButton {
    margin-bottom: 20px;

}



}   



@media(max-width: 600px){



.ratingCard {
    position: relative;
    max-width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 30px;
    height: 500px;
}
    
.ratingTitle {
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
}

.ratingDescription {
    margin-bottom: 20px;
    margin-top: 0px;
}

.ratingButtons {
    margin: 20px 0;
    margin-top:  5px;
}

.thankYouTitle {
    margin-bottom: 0px;
    margin-left: 0px;

}

.thankYouMessage {
    width: 80%;
    margin-right: 0px;
}

.submitButton  {
    padding: 12px;
    letter-spacing: 2px;
    margin-top: 10px;
    width: 15rem;
}

.thankYouImage {
    margin: auto;
}

.selectecdRating {
position: absolute;
right: 100px;
}




}


@media(max-width: 330px){


.ratingCard {
    background-color: #1f2630;
    width: 400px;
    max-width: 90%;
    border-radius: 15px;
    padding: 15px;
    margin: 10px;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;


}

.iconContainer{
        margin-bottom: 3rem;
    }

.ratingCard {
    max-width: 85%;
    padding-bottom: 40px;
    height: 400px;
}
    
.ratingTitle {
    margin-bottom: 10px;
}

.ratingDescription {
    margin-top: 0px;
}



.ratingButtons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top:  5px;
    gap: 8px;
}

.ratingButton {
    width: 41px;
    height: 41px;
 
}



















































.thankYouImage {
    top: 3em;
}

.thankYouTitle {
    margin-bottom: 3px;
}

.thankYouMessage {
    width: 95%;
    font-size: 0.8rem;
}

.submitButton {
    display: block;
    width:10rem;
    padding: 8px;
    margin-top: -10px;
}


}
















